[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tywebb
[access "refs/for/refs/*"]
	read = group user/tywebb
	push = group user/tywebb
	label-Code-Review = -2..+2 group user/tywebb
	label-Verified = -1..+1 group user/tywebb
	rebase = group user/tywebb
	removeReviewer = group user/tywebb
	submit = group user/tywebb
[access "refs/heads/*"]
	read = group user/tywebb
	create = group user/tywebb
	push = +force group user/tywebb
	pushMerge = group user/tywebb
[access "refs/tags/*"]
	push = +force group user/tywebb
	pushTag = group user/tywebb
	pushSignedTag = group user/tywebb
